.featured-product-section{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: auto;
    left: 10%;  
    }
    .featured-product-top{
        display: flex;
        justify-content: space-between;
        color: #666;
    }
    .featured-product-title{
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: bold;
    }
    .featured-product-control{
        display: flex;
        width: 60px;
        justify-content: space-between;
    }
    .featured-product-control .right-arrow,
    .featured-product-control .left-arrow{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 24px;
        height: 24px;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
    }
    .featured-product-control .left-arrow:hover,
    .featured-product-control .right-arrow:hover{
        color: #333333;
    }
    .featurd-product-container{
        position: relative;
        width: 100%;
        padding: 8px 0;
        box-sizing: border-box;
        overflow: scroll;
        overflow-y: hidden;
    }
    .featured-product-wrapper{
        position: absolute;
        display: flex;
        width: 2140;
        box-sizing: border-box;
        align-items: center;
        flex-flow: row; 
        transition: 0.3s ease-in-out;
    }
    .dn{
        display: none;
    }
    