.Drawer-toggle{
    display: flex;
    width: 80%;
    height: 80%;
    color: #111;
    align-items: center;
    border: 1px solid #111;
    border-radius: 4px;
    justify-content: space-around;
    cursor: pointer;
   transition: 0.3s;
}
.Drawer-toggle i{
font-size: 28px;
}
.Drawer-toggle:hover{
    border: 1px solid transparent;
    background-color: #111;
    color: white;
}