
.product-items{
    width: 240px;
    max-width: 240px;
    line-height: 24px;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: 10px 0px;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: 0.3s;
}   
.product-items:hover{
    border: 1px solid transparent;
    box-shadow: 1px 1px 8px gray;
}
.product-snap{
    position: relative;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 4;
}
.product-name{
    font-weight: bold;
    padding: 4px 0px;
    height: 68px;
    text-decoration: none;
    color: #29407c;
    overflow: hidden;
    cursor: pointer;
}
.product-link-style{
    text-decoration: none;
    color: #29407c;
}
.product-price{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #c30c0c;
}
.product-add-to-cart{
    width: 200px;
    height: 40px;
    display: flex;
    color: grey;
    font-weight: bold;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 4px;
    box-sizing: border-box;
    justify-content: space-around;
    border: 2px solid #ddd;
    transition: 0.3s;
    cursor: pointer;
}
.product-add-to-cart:hover{
    border: 2px solid #ddd;
    background-color: #31629f;
    color: #ffffff;
    border: 2px solid #31629f;
}
.product-add-to-wishlist{
    width: 100%;
    z-index: 10;
    text-align: right;

}
.product-add-to-wishlist i{
font-size: 24px;
color: #ddd;
cursor: pointer;
}