.Cart-icon{
    height: 80px;
    font-size: 80px;
    color:#ffffff;  
    display: flex;
    align-items : center;
   text-decoration: none;
}
.Cart-icon i{
font-size: 0.5em;
color: #333333;
cursor: pointer;
}
.Cart-icon i:hover{
    color: rgb(251, 197, 80);
    }