.menu-drawer{
    position: fixed;
    top: 0px;
    width: 375px;
    height: 100%;
    background-color: goldenrod;
    z-index: 20;
    transition: 0.3s;
}
.open{
    transform: translateX(0%);
}
.close{
    transform: translateX(-100%);
}