.menu-drawer{
    position: fixed;
    top: 0px;
    width: 375px;
    height: 100%;
    background-color: white;
    z-index: 200;
    transition: 0.3s;
}
.open{
    transform: translateX(0%);
}
.close{
    transform: translateX(-100%);
}
.drawer-top{
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 32px;
    align-items: center;
    box-sizing: border-box;
    height: 72px;
    background-color: #888888;
}
.drawer-container{
    position: 9fixed; 
    height: 90%;
    position: relative;   
    overflow: scroll;
}
