.align-left{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    top: 50%;
    left: 2%;
    align-items: center;
    justify-content: space-around;
    color: #f9f9f9;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.align-left:hover{
    border: 1px solid transparent;
    background-color: #0077ff;
}