.Header-content-section{
    width: 100%;
    height: 72px;
    display: flex;
    padding: 12px 36px;
    box-sizing: border-box;
    align-items: center;
    background-color: #333333;
    justify-content: space-between;
    z-index: 30;
}
.Side-drawer-toggle{
    height: 48px;
    width: 48px;
}
.nav-section{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: space-around;
}
.profile-snap{
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.profile-snap img{
    height: 100%;
}
.profile-icon{
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 300;
}
@media(max-width: 500px){
    .nav-section{
        display: none;
    }
}
.Header-bottom{
    width: 100%;
    height: 48px;
    background-color: #f9f9f9;
}
.header-bottom-icon{
    display: flex;
    height: 48px;
    padding: 0 24px;
    box-sizing: border-box;
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
}
.header-bottom-icon .nav-link{
    font-weight: bold;
    padding: 12px 4px;
    color: #333333;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.3s;
} 
.header-bottom-icon .nav-link i{
    margin-left: 4px;
}
.header-bottom-icon .nav-link:active,
.active
{
    background-color: #ffffff;
    border-bottom: 4px solid #333333;
} 