.Header-content-section{
    width: 100%;
    height: 72px;
    display: flex;
    padding: 12px 36px;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 30;
}
.Side-drawer-toggle{
    height: 48px;
    width: 48px;
}
.web-logo{
    width: 150px;
}
.web-logo img{
    width: 100%;
}
.Search-bar-container{
    height: 48px;
    width: 480px;
}
.Wish-list-icon{
    height: 48px;
    font-size: 48px;
    display: flex;
    align-items : center;
}
.Wish-list-icon i{
    font-size: 0.5em;
    color:red;  
    cursor: pointer;
    }
.Wish-list-icon i{
    color:red;  
     }
.Cart-icon{
    height: 48px;
    font-size: 48px;
    color:#0077ff;  
    display: flex;
    align-items : center;
}
.Cart-icon i{
font-size: 0.8em;
cursor: pointer;
}
.Header-bottom{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
}
.header-bottom-right-icon{
width: 40%;

}
.header-bottom-left-icon ul,
.header-bottom-right-icon ul{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    list-style: none;
}
.header-bottom-left-icon ul li,
.header-bottom-right-icon ul li{
    font-weight: bold;
    vertical-align: middle;
    position: relative;
} 
.nav-link{
    text-decoration: none;
} 