.cart-section{
    width: 100%;
}
.cart-container{
    position: relative;
    width: 80%;
    left: 10%;
    color: #333333;
}
.cart-head{
    font-size: 20px;
    padding: 24px 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}
.cart-item-section{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    
}
.products-list{
    position: relative;
    width: 70%;
    height: 420px;
    padding: 20px 20px ;
    overflow: scroll;
   
}   
.cart-checkout{
    position: relative;
    width: 25%;   
    height: 25rem;
    background-color: #f9f9f9;
    border-bottom: 4px solid #333333;
    border-top: 4px solid #333333;
}
.cart-checkout-title{
    font-weight: 14px;
    text-align: center;
    padding: 8px 0px;
    color: #333333;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}
.cart-checkout-details{
    position: relative;
    width: 80%;
    left: 10%;
    padding: 18px 0px;
}
.cart-checkout-total{
    margin: 20px 0px;
    border-top: 2px solid #333333;
}
.cart-coupen{
    display: flex;
}
.bold{
    font-weight: bold;
}
.red{
    color: #c30c0c;
}
.darkblue{
    color: #29407c;
}