.menu-item{
  
    height: 32px;
    margin-top: 2px;
    cursor: pointer;
    padding: 4px 32px;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: rgba(235, 237, 239, 0.6);
}
.menu-item:hover{
    background-color: rgba(235, 237, 239, 1);
}
.nav-link{
    text-decoration: none;
    color: rgb(48, 55, 56);
    display: flex;
    justify-content: space-between;
}
